<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-media-streaming-service"
        version="1.0.0">

    <name>Cordova Media Streaming Service</name>
    <description>Media streaming service with ongoing notification.</description>
    <license>MIT</license>
    <author>Paul Kibe Njuguna</author>
    <repo>https://github.com/paulkjoseph/cordova-plugin-media-streaming-service</repo>
	<issue>https://github.com/paulkjoseph/cordova-plugin-media-streaming-service/issues</issue>
    <keywords>cordova,background,foreground,service,media,audio,exoplayer</keywords>

    <engines>
        <engine name="cordova-android" version=">=4.0.0"/>
    </engines>

    <js-module src="www/mediastreaming.js" name="MediaStreamingService">
        <clobbers target="cordova.plugins.mediaStreamingService" />
    </js-module>

    <platform name="android">
        <framework src="com.google.android.exoplayer:exoplayer-core:2.9.6"/>
        <framework src="com.google.android.exoplayer:exoplayer-ui:2.9.6"/>
        <framework src="com.google.android.exoplayer:extension-mediasession:2.9.6"/>
        <framework src="com.squareup.picasso:picasso:2.5.2"/>
        <framework src="com.google.code.gson:gson:2.8.5"/>

        <config-file target="config.xml" parent="/*">
            <feature name="MediaStreamingPlugin">
                <param name="android-package" value="com.paulkjoseph.mediastreaming.MediaStreamingPlugin" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
		</config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.paulkjoseph.mediastreaming.MediaStreamingService" android:stopWithTask="true" />
        </config-file>

        <source-file src="src/res/drawable/media_streaming.png" target-dir="res/drawable/"/>

        <source-file src="src/android/Constants.java" target-dir="src/com/paulkjoseph/mediastreaming" />
        <source-file src="src/android/MediaPlayerState.java" target-dir="src/com/paulkjoseph/mediastreaming" />
        <source-file src="src/android/MediaStream.java" target-dir="src/com/paulkjoseph/mediastreaming" />
        <source-file src="src/android/MediaStreamRequest.java" target-dir="src/com/paulkjoseph/mediastreaming" />
        <source-file src="src/android/MediaStreamUtils.java" target-dir="src/com/paulkjoseph/mediastreaming" />
        <source-file src="src/android/MediaStreamingPlugin.java" target-dir="src/com/paulkjoseph/mediastreaming" />
        <source-file src="src/android/MediaStreamingService.java" target-dir="src/com/paulkjoseph/mediastreaming" />

    </platform>

</plugin>